<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in todo %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' name.id %}">{{ name.name }}</a>
                        </td>
                        <td>
                            {{ name.items.all.count}}
                        </td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
